<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hmc.cs.kmcswiggen.headturner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Text should refer to strings.xml or w/e it is, and also have a better name -->
        <activity
            android:name="edu.hmc.cs.kmcswiggen.headturner.HomeActivity"
            android:label="Simple Launcher Home"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.hmc.cs.kmcswiggen.headturner.AppsListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >

        </activity>
    </application>

</manifest>
